body {
  font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
  font-size: 18px;
  background-color: #f5f5d5 !important;
}

a {
  display: block;
}

.title {
  cursor: pointer;
}

li.title:hover {
  background-color: #eee;
}

.panel {
  border-radius: 0;
}

.panel-default > .panel-heading {
  background-image: none;
  background-color: #fff;
}

.navbar-default {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
}

/* ================ */
/* CATEGORY WIDGET */
/* ================ */

.widget {
    float: left;
}

ul {
    list-style-type: none
}

.category-list {
    padding: 0;
    margin-bottom: 0px;
}

.category-list-item {
    border-radius: 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-width: 1px 0;
}

@media (max-width: 768px) {
    .widget {
        float: initial;
        margin: 5% 5% 5% 5%;
        width: 92%;
    }
}
